In [11]:
import numpy as np
import pandas as pd

In [13]:
table = pd.DataFrame({'probability':[0.1 ,.20, 0.25, 0.4,0.5,0.7,0.9]})

In [14]:
table['odds'] = table.probability/(1-table.probability)

In [15]:
table

   probability      odds
0         0.10  0.111111
1         0.20  0.250000
2         0.25  0.333333
3         0.40  0.666667
4         0.50  1.000000
5         0.70  2.333333
6         0.90  9.000000

In [20]:
np.log(10) # Meaning that e^2.302 == 10

2.302585092994046

Basically, logarithms and exponents are the one and the same.

In [22]:
# to validate that
2.717**2.302585092994046 # e^log(10) == 10

9.989145302609614

let's add the logarithms of odds, or log-odds to our table

In [24]:
table['logodds'] = np.log(table.odds)
table

   probability      odds   logodds
0         0.10  0.111111 -2.197225
1         0.20  0.250000 -1.386294
2         0.25  0.333333 -1.098612
3         0.40  0.666667 -0.405465
4         0.50  1.000000  0.000000
5         0.70  2.333333  0.847298
6         0.90  9.000000  2.197225

In [32]:
prob = .25
odds = prob /(1-prob)
odds

0.3333333333333333

In [35]:
logodds = np.log(odds)
logodds

-1.0986122886681098

In [36]:
print(np.exp(2.302585092994046))

10.000000000000002